* {
	margin: 0;
	padding: 0;
	font-family: 'Concert One', cursive;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
	font-size: 1em;
}
/* flash alert */
.flash-alert {
	font-size: 1.2em;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
	opacity: 0.8;
	border: 2px solid;
	position: absolute;
	width: 100%;
	bottom: 0;
}
#important {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
#information {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
#warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
#error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.close-btn {
	font-size: 2em;
	position: absolute;
	top: 0px;
	left: 10px;
	float: left;
	font-weight: bold;
	line-height: 1;
	opacity: 0.6;
	text-shahow: 0 1px 0 #FFFFFF;
	border: 0 none;
	color: inherit;
	cursor: pointer;
}
/* button css */
.change-btn {
	background-color: #5cbb5c;
	border: 2px solid #4cae4c;
}
.send-btn {
	background-color: #428bca;
	border: 2px solid #357ebd;
	width: 90%;
}
.delete-btn {
	background-color: #f0ad4e;
	border: 2px solid #eea236;
}
.warn-btn {
	background-color: #f0ad4e;
	border: 2px solid #eea236;
}
.btn {
	border-radius: 3px;
	padding: 6px 12px;
	color: #fff;
}
