/* article */
#login {
	height: 100%;
	width: 100%;
}
.contents {
	text-align: center;
}
#sc-top {
	height: 30%;
	width: 100%;
}
#sc-top p {
	color: #545454;
	font-size: 1.2em;
}
#sc-middle {
	height: 40%;
	width: 100%;
}
#title {
	color: #212121;
	font-size: 4em;
	margin: 0 auto;
	vertical-align: middle;
}
.twitter-icon {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -37px;
	color:  #2BA9E1;
	opacity: 0.9;
	transition: 0.1s linear 0s;
	text-decoration: none;
}
.twitter-icon:hover {
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	color:  #2BA9E1;
}
.mato-icon {
	width: auto;
	height: 100%;
	vertical-align: middle;
}
#sc-bottom {
	height: 30%;
	width: 100%;
}
#sc-bottom p {
	color: #545454;
	font-size: 1.5em;
}
#blank {
	height: 5.5em;
}
.arrow-icon{
	top: 71%;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	color: #545454;
	margin-top: 5px;
	-moz-animation: sway 1.5s ease 0s infinite forwards;
	-webkit-animation: sway 1.5s ease 0s infinite forwards;
}
@-moz-keyframes sway {
	0% { top: 71%; }
	50% { top: 72%; }
	100% { top: 71%; }
}
@-webkit-keyframes sway {
	0% { top: 71%; }
	50% { top: 72%; }
	100% { top: 71%; }
}
/* footer */
footer {
	border-top: 1px solid #EEEEEE;
	min-height: 50px;
	clear: both;
}
footer .wrap {
	color: #777777;
	padding: 20px 0;
}
.wrap {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 80%;
}
footer nav {
	text-align: center;
	margin: 0;
	padding: 0;
}
footer nav a {
	margin: 0 10px;
	transition: 0.1s linear 0s;
	text-decoration: none;
}
.icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-size: cover;
	color: #777777;
}
.login-icon {
	vertical-align: middle;
}
.icon-twitter:hover {
	color: #2BA9E1;
}
.icon-me:hover {
	color: #ffbf00;
}
.icon-github:hover {
	color: #09B39C;
}
