/* article */
#login {
	height: 100%;
	width: 100%;
}
.contents {
	text-align: center;
}
#sc-top {
	position: relative;
	height: 30%;
	width: 100%;
}
#sc-top p {
	position: relative;
	color: #545454;
	font-size: 1.2em;
}
#sc-middle {
	position: relative;
	height: 40%;
	width: 100%;
	overflow: hidden;
}
#title {
	color: #212121;
	font-size: 4em;
	margin: 0 auto;
	vertical-align: middle;
}
.twitter-icon {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -37px;
	color:  #2BA9E1;
	opacity: 0.9;
	transition: 0.1s linear 0s;
	text-decoration: none;
}
.twitter-icon:hover {
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	color:  #2BA9E1;
}
.facebook-icon {
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 50%;
	margin-left: -34px;
	color:  #3b5998;
	-moz-transition: 0.1s linear 0s;
	-webkit-transition: 0.1s linear 0s;
	text-decoration: none;
	opacity: 0.9;
}
.facebook-icon:hover {
	-webkit-transform: scale(2.5);
	-moz-transform: scale(2.5);
	color:  #3b5998;
}
.facebook-back-icon {
	position: absolute;
	width: 68px;
	height: 68px;
	border-radius: 10px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color:  #fff;
	-moz-transition: 0.1s linear 0s;
	-webkit-transition: 0.1s linear 0s;
	opacity: 0.9;
}
.mato-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: auto;
	height: 95%;
	vertical-align: middle;
}
#sc-bottom {
	height: 30%;
	width: 100%;
}
#sc-bottom p {
	color: #545454;
	font-size: 1.5em;
}
@-moz-keyframes sway_r {
	0% { right: 3px; }
	50% { right: 7px; }
	100% { right: 3px; }
}
@-webkit-keyframes sway_r {
	0% { right: 3px; }
	50% { right: 7px; }
	100% { right: 3px; }
}
@-moz-keyframes sway_l {
	0% { left: 3px; }
	50% { left: 7px; }
	100% { left: 3px; }
}
@-webkit-keyframes sway_l {
	0% { left: 3px; }
	50% { left: 7px; }
	100% { left: 3px; }
}
@-moz-keyframes sway {
	0% { bottom: 3px; }
	50% { bottom: 8px; }
	100% { bottom: 3px; }
}
@-webkit-keyframes sway{
	0% { bottom: 3px; }
	50% { bottom: 8px; }
	100% { bottom: 3px; }
}
.login-slider {
	height: 100%;
	width: 400%;
	margin-left: -100%;
}
.login-s {
	position: relative;
	height: 100%;
	width: 25%;
	float: left;
}
.arrow {
	position: absolute;
	width: 41px;
	height: 41px;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #545454;
	z-index: 5;
	cursor: pointer;
}
.right {
	right: 3px;
	-moz-animation: sway_r 1.5s ease 0s infinite forwards;
	-webkit-animation: sway_r 1.5s ease 0s infinite forwards;
}
.left {
	left: 3px;
	-moz-animation: sway_l 1.5s ease 0s infinite forwards;
	-webkit-animation: sway_l 1.5s ease 0s infinite forwards;
}
.arrow-down {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3px;
	margin: auto;
	color: #545454;
	width: 64px;
	height: 64px;
	color: #de9610;
	opacity: 0.9;
	-moz-animation: sway 1.5s ease 0s infinite forwards;
	-webkit-animation: sway 1.5s ease 0s infinite forwards;
}
#login-name-form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 200px;
	height: 117px;
	text-align: center;
}
#login-name {
	width: 150px;
	padding: 20px;
	margin-bottom: 2px;
	opacity: 0.9;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: #222;
	background-color: #e4f0fc;
}
#login-btn {
	width: 150px;
	padding: 15px;
	border: none;
	opacity: 0.9;
	border-radius: 5px;
	color: #fff;
	background-color: #0074bf;
}
/* footer */
footer {
	border-top: 1px solid #EEEEEE;
	min-height: 50px;
	clear: both;
}
footer .wrap {
	color: #777777;
	padding: 20px 0;
}
.wrap {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 100%;
}
footer nav {
	text-align: center;
	margin: 0;
	padding: 0;
}
footer nav a {
	margin: 0 10px;
	transition: 0.1s linear 0s;
	text-decoration: none;
}
.icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-size: cover;
	color: #777777;
}
.login-icon {
	vertical-align: middle;
}
.icon-twitter:hover {
	color: #2BA9E1;
}
.icon-me:hover {
	color: #ffbf00;
}
.icon-github:hover {
	color: #09B39C;
}
