/* header */
header {
	border-top: 1px solid #EEEEEE;
	min-height: 50px;
	clear: both;
}
header .wrap {
	color: #777777;
	padding: 20px 0;
}
.wrap {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 80%;
}
header nav {
	text-align: center;
	margin: 0;
	padding: 0;
}
header nav a {
	margin: 0 10px;
	transition: 0.1s linear 0s;
	text-decoration: none;
}
.icon {
	display: inline-block;
	position: relative;
	overflow: hidden;
	background-size: cover;
	color: #777777;
}
.login-icon {
	vertical-align: middle;
}
.icon-twitter:hover {
	color: #2BA9E1;
}
.icon-me:hover {
	color: #ffbf00;
}
.icon-github:hover {
	color: #09B39C;
}
