{% extends "layout.html" %}

{% block head %}
	{% if user_name is defined %}
	<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pages.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slider-pages.css') }}">
	{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	{% endif %}
{% endblock %}

{% block body %}

{% if user_name is defined %}
<!--

		After login

-->
<div id="slide-pages">
	<slider-pages>
		<!--Pages-->
		<article id="tap">
			<div id="container" style="width: 100%; height: 100%;">
				<canvas id="mato"></canvas>
			</div>
		</article>
		<article id="input">
			<div class="main" v-with="data">
				<div class="main-label">Result</div>
				<span>[[hits | number_of_hit]]</span>
				<span>/</span>
				<span>[[hits | number_of_all]]</span>
			</div>
			<div id="input-area">
				<div id="hit-container" v-repeat="hits">
					<span class="hit"><p>[[$value[0] | tomark]]</p></span>
					<span class="hit"><p>[[$value[1] | tomark]]</p></span>
					<span class="hit"><p>[[$value[2] | tomark]]</p></span>
					<span class="hit"><p>[[$value[3] | tomark]]</p></span>
				</div>
			</div>
		</article>
		<article id="score">
			<div class="main" v-with="data">
				<div class="main-label">Result</div>
				<span>[[hits | number_of_hit]]</span>
				<span>/</span>
				<span>[[hits | number_of_all]]</span>
			</div>
			<div class="sub">
				<div class="sub-label">All</div>
				<span>[[hits | percent]]%</span>
			</div>
			<div class="sub">
				<div class="sub-label">First</div>
				<span>[[hits | percent_first]]%</span>
			</div>
			<div class="sub">
				<div class="sub-label">First/2</div>
				<span>[[hits | percent_first_2]]%</span>
			</div>
			<div class="sub">
				<div class="sub-label">First/4</div>
				<span>[[hits | percent_first_4]]%</span>
			</div>
		</article>
		<article id="setting">
		</article>
		<article id="statistics">
		</article>
		<!--Footer - Page changer-->
		<label for="page1" class="fa fa-bullseye fa-3x"></label>
		<label for="page2" class="fa fa-pencil-square-o fa-3x"></label>
		<label for="page3" class="fa fa-code fa-3x"></label>
		<label for="page4" class="fa fa-bar-chart-o fa-3x"></label>
		<label for="page5" class="fa fa-cogs fa-3x"></label>
	</slider-pages>
</div>
<!--

		Vue.js template

-->
<script type="text/x-template" id="slider-pages-template">
<div id="spages">
	<input id="page1" type="radio" checked="" name="slider" selected="false">
	<input id="page2" type="radio" name="slider" selected="false">
	<input id="page3" type="radio" name="slider" selected="false">
	<input id="page4" type="radio" name="slider" selected="false">
	<input id="page5" type="radio" name="slider" selected="false">
	<!--Controller-->
	<div id="controller-content">
		<div class='controller' id='date'>[[date]]</div>
		<div class='controller' id='upload-background'></div>
		<div class='controller fa fa-cloud-upload fa-4x' id='upload'></div>
		<div class='controller fa fa-exchange fa-4x' id='change-page'></div>
		<div class='controller fa fa-arrow-left fa-4x' id='undo'></div>
		<div class='controller fa fa-arrow-right fa-4x' id='redo'></div>
	</div>
	<div id="pages">
		<div id="overflow">
			<div class="inner">
				<content select="article:nth-of-type(1)"></content>
				<content select="article:nth-of-type(2)"></content>
				<content select="article:nth-of-type(3)"></content>
				<content select="article:nth-of-type(4)"></content>
				<content select="article:nth-of-type(5)"></content>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrap">
			<nav>
				<content select="label:nth-of-type(1)"></content>
				<content select="label:nth-of-type(2)"></content>
				<content select="label:nth-of-type(3)"></content>
				<content select="label:nth-of-type(4)"></content>
				<content select="label:nth-of-type(5)"></content>
			</nav>
		</div>
	</footer>
</div>
</script>
<script src="{{ url_for('static', filename='js/slider-pages.js') }}"></script>
{% else  %}
<!--

		Before login

-->
<article id="login">
	<section class="contents" id="sc-top">
		<div id="title">Yoichi</div>
		<p>Give a cloud for your Kyudo</p>
	</section>
	<section class="contents" id="sc-middle">
		<img class="mato-icon" src="{{ url_for('static', filename='img/kasumi.jpg') }}"></img>
		<a class="fa fa-twitter fa-5x twitter-icon" href="{{ url_for('view.login') }}"></a>
	</section>
	<section class="contents" id="sc-bottom">
		<div class="arrow-icon fa fa-arrow-circle-o-up fa-4x"></div>
		<div id="blank"></div>
		<p>Login by Twitter</p>
	</section>
</article>
<footer>
<div class="wrap">
	<nav>
		<a class="icon icon-twitter fa fa-twitter fa-2x login-icon" href="https://twitter.com/yymm6666/"></a>
		<a class="icon icon-me" href="https://twitter.com/yymm6666/">author yuya yano</a>
		<a class="icon icon-github fa fa-github fa-2x login-icon"href="https://github.com/yymm/Yoichi"></a>
	</nav>
</div>
</footer>
<script src="{{ url_for('static', filename='js/season.js') }}"></script>

{% endif %}

{% endblock %}
