{% extends "layout.html" %}

{% block head %}
	{% if user_name is defined %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
	{% endif %}
{% endblock %}

{% block body %}


<header>
</header>


{% if user_name is defined %}
<article>
	<section class="no-scroll" id="mato-screen">
		<div id="mato-container">
			<canvas id="mato"></canvas>
		</div>
	</section>
	<section class="scroll" id="peke-screen">
	</section>
	<section class="no-scroll" id="score">
	</section>
	<section class="scroll" id="setting">
	</section>
	<section class="scroll" id="statistics">
	</section>
</article>
{% else  %}
<article id="login">
	<section class="contents" id="sc-top">
		<div id="title">Yoichi</div>
		<p>Give a cloud for your Kyudo</p>
	</section>
	<section class="contents" id="sc-middle">
		<img class="mato-icon" src="{{ url_for('static', filename='img/kasumi.jpg') }}"></img>
		<a class="fa fa-twitter fa-5x twitter-icon" href="{{ url_for('view.login') }}"></a>
	</section>
	<section class="contents" id="sc-bottom">
		<div class="arrow-icon fa fa-arrow-circle-o-up fa-4x"></div>
		<div id="blank"></div>
		<p>Login by Twitter</p>
	</section>
</article>
{% endif %}


<footer>
{% if user_name is defined %}
<div class="wrap">
	<nav>
	</nav>
</div>
{% else  %}
<div class="wrap">
	<nav>
		<a class="icon icon-twitter fa fa-twitter fa-2x login-icon" href="https://twitter.com/yymm6666/"></a>
		<a class="icon icon-me" href="https://twitter.com/yymm6666/">author yuya yano</a>
		<a class="icon icon-github fa fa-github fa-2x login-icon"href="https://github.com/yymm/Yoichi"></a>
	</nav>
</div>
{% endif %}
</footer>


{% if user_name is defined %}
<script src="{{ url_for('static', filename='js/mato.js') }}"></script>
<script src="{{ url_for('static', filename='js/general.js') }}"></script>
{% else  %}
<script src="{{ url_for('static', filename='js/season.js') }}"></script>
{% endif %}

{% endblock %}
