<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Yoichi</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mato.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="title"><canvas id="mato"></canvas></div>
<div class="login"></div>
<script src="{{ url_for('static', filename='js/mato.js') }}"></script>
<script src="{{ url_for('static', filename='js/season.js') }}"></script>
</body>
</html>
